<div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mainTitle">in de Maat!</h1>
      <div class="normalTextBox">
        <p class="normalText">" Deze maat duurt 4 tellen! Het horloge tikt 2 keer per tel!</p>
        <p class="normalText">in elke maat tikt een horloge dus wel 8 keer! "</p>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <img ng-click="horlogeNotenbalkClicked()" id="spel2Uitleg4Notenbalk" src="../images/horlogeNotenbalk.png">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      
        <img class="uitleg4Klokken" src="../images/horloge.png">
      
    </div>
    <div class="col-lg-4">
      <a ng-click="stopText()" href="#/spel2uitleg4normaleklok">
        <img class="uitleg4Klokken" src="../images/normaleKlok.png">
      </a>
    </div>
    <div class="col-lg-4">
      <img class="uitleg4Klokken" src="../images/groteKlokDisabled.png">
    </div>
  </div>


</div>
