<div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mainTitle">in de Maat!</h1>
      <div class="normalTextBox">
        <p class="normalText">" Muziek schrijf je op in kleine stukjes, </p>
        <p class="normalText">Zo'n stukje muziek heet een Maat! Elke maat heeft een bepaalde lengte! "</p>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <img ng-click="playMaat3()" id="notenBalkSpel2Uitleg1" src="../images/3maatNotenbalk.png">
      <p id="actionTextSpel2Uitleg1" class="actionText">Luister maar goed naar de muziek! Wat hoor je?</p>
      <p  class="actionText">Probeer maar mee te tellen !</p>

      <a ng-show="maat3Played == true" href="#/spel2uitleg2">
        <img id="spel2Uitleg1ContinueButton" ng-click="goToUitleg2()" class="continueButton" src="../images/continueButton.png">
      </a>

    </div>
  </div>

</div>
