<div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mainTitle">in de Maat!</h1>
      <div class="normalTextBox">
        <p class="normalText">" Nu gaan we oefenen met het vullen van de maat! "</p>
        <p class="actionText">Probeer de maat maar te vullen!</p>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div id="notenbalkBackground" class="col-lg-12">
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      
        <img ng-click="checkClicked('horloge')" class="uitleg4Klokken" src="../images/horloge.png">
      
    </div>
    <div class="col-lg-4">
      
        <img ng-click="checkClicked('normaleKlok')" class="uitleg4Klokken" src="../images/normaleKlok.png">
      
    </div>
    <div class="col-lg-4">
      
        <img ng-click="checkClicked('groteKlok')" class="uitleg4Klokken" src="../images/groteKlok.png">
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 stars">

      <img ng-if="game2Star1Status == 'empty'" src="../images/starEmpty.png">
      <img ng-if="game2Star1Status == 'half'" src="../images/starHalf.png">
      <img ng-if="game2Star1Status == 'full'" src="../images/starFull.png">

      <img ng-if="game2Star2Status == 'empty'" src="../images/starEmpty.png">
      <img ng-if="game2Star2Status == 'half'" src="../images/starHalf.png">
      <img ng-if="game2Star2Status == 'full'" src="../images/starFull.png">
      
      <img ng-if="game2Star3Status == 'empty'" src="../images/starEmpty.png">
      <img ng-if="game2Star3Status == 'half'" src="../images/starHalf.png">
      <img ng-if="game2Star3Status == 'full'" src="../images/starFull.png">

      <img ng-if="game2Star4Status == 'empty'" src="../images/starEmpty.png">
      <img ng-if="game2Star4Status == 'half'" src="../images/starHalf.png">
      <img ng-if="game2Star4Status == 'full'" src="../images/starFull.png">  

      <img ng-if="game2Star5Status == 'empty'" src="../images/starEmpty.png">
      <img ng-if="game2Star5Status == 'half'" src="../images/starHalf.png">
      <img ng-if="game2Star5Status == 'full'" src="../images/starFull.png">
       
    </div>
  </div> 
</div>
