<div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mainTitle">in de Maat!</h1>
      <div class="normalTextBox">
        <p class="normalText">" De normale klok tikt 1 keer per tel!</p>
        <p class="normalText">In elke maat kan de normale klok 4 keer tikken! "</p>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <img id="spel2Uitleg4Notenbalk" src="../images/normaleKlokNotenbalk.png">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href="#/spel2uitleg4horloge">
        <img class="uitleg4Klokken" src="../images/horloge.png">
      </a>
    </div>
    <div class="col-lg-4">
      
        <img class="uitleg4Klokken" src="../images/normaleKlok.png">
      
    </div>
    <div class="col-lg-4">
      <a ng-click="stopText()" href="#/spel2uitleg4groteklok">
        <img class="uitleg4Klokken" src="../images/groteKlok.png">
      </a>
    </div>
  </div>
  


</div>
