<div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mainTitle">in de Maat!</h1>
      <div class="normalTextBox">
        <p class="normalText">" We gaan de maat zo vullen met deze klokken! "</p>
        <p class="actionText">Klik maar op de klokken!</p>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <img id="spel2Uitleg4Notenbalk" src="../images/spel2uitleg4Notenbalk.png">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a ng-click="playKlokAudio(horloge)" href="#/spel2uitleg4horloge">
        <img class="uitleg4Klokken" src="../images/horloge.png">
      </a>
    </div>
    <div class="col-lg-4">
      <img class="uitleg4Klokken" src="../images/normaleKlokDisabled.png">
    </div>
    <div class="col-lg-4">
      <img class="uitleg4Klokken" src="../images/groteKlokDisabled.png">
    </div>
  </div>


</div>
